.game {
  position: relative;
  height: 400px;
  width: 800px;
  background-color: #000;
}

.score {
  position: absolute;
  left: 16px;
  top: 16px;
  font-size: 30px;
  color: white;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  padding: 8px;
  background-color: #2fa367;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.mole {
  display: none;
  position: absolute;
  cursor: pointer;
  width: 60px;
  height: 60px;
  transition: all 0.2s ease-in-out;
}

.mole:hover {
  transform: scale(1.1);
}