.pokedex {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  background: #b9bac6;
  border-radius: 8px;
}

.name {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 8px;
  color: #000;
  background: #FFF;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  text-transform: capitalize;
}

@media screen and (max-width: 645px) {
  .pokedex {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 460px) {
  .pokedex {
    grid-template-columns: repeat(2, 1fr);
  }
}